@import url('about-box.css');
@import url('recent-project.css');
@import url('skills.css');

* {
    font-family: 'Google Sans', sans-serif;
}

.main-nav {
    text-align: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero {
    background-color: #000;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}
.hero-content {
    color: #fff;
    text-align: center;
}

.image-container {
    width: 40%;
}
img {
    width: 100%;
    height: auto;
}

@media (max-width: 510px) {
    .hero {
        flex-direction: column;
    }

    .image-container {
        width: 90%;
    }
}