.about h2 {
    color: #00b9bc;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
}

.about h3 {
    color: #bebebe;
    margin: 0;
}

.about {
    height: auto;
    margin: 5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 100%;
}

.about-content p {
    color: #bebebe;
}

.about-subcontent {
    padding: 1rem;
    background-color: #181818;
    border: solid 1px #333;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .about {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 545px) {
    .about {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about h2 {
        text-align: center;
    }

    .about-content {
        width: 360px;
    }
}