.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    margin: 0 5rem;
}

.about-content p {
    color: #bebebe;
}

@media (max-width: 430px) {
    .about-content {
        margin: 2rem;
    }
}