.bio {
    height: auto;
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio p {
    color: #bebebe;
    margin: 0;
}

.bio h1 {
    color: #bebebe;
    font-size: 40px;
    font-weight: 650;
    margin: 0;
    padding: 0;
}

.bio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    background-color: #181818;
    border: solid 1px #333;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials a {
    margin: 0 0.8rem;
}

.cycling-word {
    font-weight: bold;
    color: #ff54fc;
    border-right: solid 2px #333;
    padding-right: 2px;
    white-space: pre;
    animation: blink-cursor 0.7s steps(1) inifinte;
}

@keyframes blink-cursor {
    0%, 100% {
        border-color: #333;
    }

    50% {
        border-color: transparent;
    }
}

@media (max-width: 435px) {
    .bio h1 {
        font-size: 30px;
    }

    .bio-content {
        width: 300px;
        height: 300px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}