.bio {
    height: 700px;
    background: url('img/bg.webp') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio p {
    color: #bebebe;
    margin: 0;
}

.bio h1 {
    color: #bebebe;
    font-size: 40px;
    font-weight: 650;
    margin: 0;
    padding: 0;
}

.bio-content {
    padding: 3rem 6rem;
    border: solid 1px #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    backdrop-filter: blur(15px);
}

.cycling-word {
    font-weight: bold;
    color: #ff54fc;
    border-right: solid 2px #333;
    padding-right: 2px;
    white-space: pre;
    animation: blink-cursor 0.7s steps(1) inifinte;
}

@keyframes blink-cursor {
    0%, 100% {
        border-color: #333;
    }

    50% {
        border-color: transparent;
    }
}

@media (max-width: 435px) {
    .bio {
        margin: 1rem;
    }

    .bio h1 {
        font-size: 25px;
    }

    .bio-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}