.blog-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title-container hr {
    width: 75%;
}

.blog-card-container {
    display: grid;
    gap: 1rem;
    margin: 1rem;
}

.blog-card {
    width: fit-content;
    height: auto;
    padding: 1rem;
    background-color: #dfdfdf;
}

.blog-card h2 {
    margin: 0;
}

.back-link {
    margin: 1rem;
    text-align: center;
}

/* @media (max-width: 380px) {
    .nav-links {
        width: fit-content;
    }

    .nav-link {
        margin: 0 0.5rem 0 0.5rem;
    }
} */

@media (max-width: 430px) {
    .blog-card-container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}

@media (min-width: 770px) {
    .blog-card-container {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for medium screens */
    }
}