.project-box {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-box h1 {
    color: #00aeff;
}

.boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-content {
    margin: 1rem;
    text-align: center;
}

.box-img-container {
    width: 100%;
}

.box img {
    width: 100%;
    height: auto;
}

.box h2 {
    color: #bebebe;
    font-size: 14px;
}

.box p {
    font-size: 18px;
    color: #bebebe;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #000;
    width: 200px;
    height: auto;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    border: solid 1px #fff;
    background: transparent;
    color: #fff;
}

@media (max-width: 435px) {
    .boxes {
        grid-template-columns: 1fr;
    }

    .box h2 {
        font-size: 20px;
    }
}