.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    border: solid 1px #fff;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card-img-container {
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    color: #bebebe;
    font-size: 25px;
    margin: 0;
}

.card p {
    font-size: 18px;
    color: #bebebe;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #000;
    width: 200px;
    height: auto;
    border: solid 1px #fff;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    border: solid 1px #fff;
    background: transparent;
    color: #fff;
}

@media (max-width: 1025px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}