li {
    text-align: start;
}

h2 {
    margin-bottom: 0;
}

h3 {
    color: #7b00ff;
    margin: 0;
    font-weight: 400;
}

hr {
    border: solid 1px #bcbbbb;
}

.experiences {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exp {
    background-color: #dfdfdf;
    width: 25%;
    margin: 1rem;
    padding: 1rem;
}