@import url('card.css');
@import url('experience.css');
@import url('bio.css');
@import url('about.css');

body {
    margin: 0;
    padding: 0;
    background-color: #232323;
    font-family: "Source Code Pro", monospace;
}

a {
    color: #bebebe;
    text-decoration: none;
}

a:hover {
    color: #ff54fc;
}

#active {
    color: #ffd000;
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}