@import url('card.css');
@import url('experience.css');
@import url('bio.css');
@import url('about.css');
@import url('box.css');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #00aeff;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
}

a {
    color: #bebebe;
    text-decoration: none;
}

a:hover {
    color: #ff54fc;
}

#active {
    color: #00aeff;
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 0.5rem;
    background: #bebebe;
    text-align: center;
}