/* Nav Bar */
.navbar {
    padding: 1.5rem;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Nav Title */
.nav-title a {
    text-decoration: none;
    color: #007bff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.nav-title a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* Nav Links */
.nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-links li {
    list-style: none;
    padding: 0 0.5rem 0 0.5rem;
}
.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.nav-links a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* Nav Email */
.nav-email a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.nav-email a:hover {
    text-decoration: underline;
    color: #007bff;
}