.nav {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #232323;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.nav.scrolled {
    background-color: #1b1b1b;
}

.nav h1, a {
    font-size: 15px;
    margin: 0 1rem 0 1rem;
    color: #7b7b7b;
    font-weight: 400;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.active {
    color: #ffcc00;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

svg {
    margin: 1rem;
}

@media (max-width: 435px) {
    .nav h1 {
        font-size: 20px;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100px;
        right: -100%;
        width: 30%;
        height: auto;
        background-color: #1b1b1b;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        transition: right 0.3s ease;
        z-index: 9;
    }

    .nav-links.open {
        right: 0;
    }

    .nav-links a {
        margin: 0.5rem 1rem 0.5rem 1rem;
        padding: 0;
        width: 100%;
    }
}